body {
    /* background-color: #aaa; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 共用/頁首 */
header {
    max-width: 1440px;
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 100000;
}

#header-switch {
    display: none;
}

#header-space {
    width: 90%;
    margin: auto;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 3px 6px #404E64;
    position: relative;
    top:0;
    transition: top 0.3s;
}

#header-space.hidden {
    top: -405px;
}
@media (width>=768px) {
    #header-space.hidden {
        top: 0;
    }
}

/* 共用/頁首/手機版導行列 */
.nav-menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

@media (width>=768px) {
    .nav-menu {
        display: none;
    }
}
.nav-menu a {
    text-decoration: none;
    display: block;
    background-color: none;
    color: #000;
    font-size: 1rem;
    padding: 2rem;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-menu span {
    width: 80%;
    height: 1px;
    background-color: #000;
}
/*  */

.header-content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-image {
    width: 30%;
}

.header-image img {
    width: 150%;
    margin: .5rem 0 0 0;
}
@media (width>=768px) {
    .header-image img {
        width: 60%;
        margin: .5rem 0 0 0;
    }
}

.header-burger {
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (width>=768px) {
    .header-burger {
        display: none;
    }
}


.line {
    width: 80%;
    height: 2px;
    margin: 3px;
    background-color: #000;
    transition: 0.6s;
}
.header-burger.turn-active .line:nth-child(1){
    transform: scale(0.5 ,1);
}
.header-burger.turn-active .line:nth-child(3){
    transform: translateY(-8px);
}


.header-content nav {
    display: none;
}

@media (width>=768px) {
    .header-content nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

.header-content nav a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    margin: 0 .8rem;
}
.header-content nav a:hover{
    text-decoration: underline;
    color: #404E64;
}

#nav-buttom {
    background-color: #404E64;
    color: #fff;
    border: 1px solid #404E64;
    padding: .5rem 1rem;
    border-radius: 15px;
    transition: 300ms;
}

#nav-buttom:hover{
    text-decoration: none;
    background-color: #f0f0f0;
    color: #000;
    transition: 300ms;
}


/* 共用/內容寬度限制 */
.homepage-wrap {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
}
.normal-wrap{
    max-width: 1440px;
    width: 100%;
}

/* 共用/麵包屑 */
.breadcrumb{
    width: 90%;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.breadcrumb ol{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
}
.bc-li{
    &+li::before{
        content:"/";
        color: #000;
        font-size: 1rem;
    }
}
.bc-li a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
@media (width>=768px) {
    .breadcrumb{
        height: 120px;
        justify-content: flex-start;
    }
    .breadcrumb ol{
        margin-left: 2rem;
    }
}

/* 首頁/Banner */
.banner {
    position: relative;
    top: 0;
    overflow: hidden;
}

.banner-mask {
    width: 100%;
    height: 700px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(64, 78, 100, 1) 90%);
    position: relative;
    z-index: 3;
}

@media (width>=768px) {
    .banner-mask {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(64, 78, 100, 1) 90%);
    }
}

.banner .bs-carousel{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    z-index: 2;
    object-fit: cover;
    object-position: center;
}

.banner-text {
    width: 100%;
    position: absolute;
    top: 300px;
    text-align: center;
    z-index: 100;
}

.bat-content {
    display: flex;
    flex-direction: column;
}

.bat-content h1 {
    font-size: 1.8rem;
    color: #fff;
}

.bat-content a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 1rem auto;
}

.bat-content a span {
    font-size: 1.2rem;
    color: #fff;
}

.bat-content a img {
    position: relative;
    width: 30px;
    height: 15px;
    margin: .5rem;
    transition: .5s;
}

.bat-content a:hover img{
    animation: slide-down 1.5s infinite;
}
@keyframes slide-down {
    0%{
        opacity: 0;
        top: 0;
    }
    50%{
        opacity: 1;
        top: 6px;
    }
    100%{
        opacity: 0;
        top:15px
    }
}


@media (width>=768px) {
    .banner-text {
        width: 80%;
        margin: 0 10%;
        display: flex;
        justify-content: flex-end;
        text-align: left;
    }

    .bat-content {
        width: 490px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bat-content h1 {
        font-size: 3rem;
        color: #fff;
    }

    .bat-content a {
        flex-direction: row;
        margin: .5rem;
    }

    .bat-content a:hover {
        color: #000;
    }

    .bat-content a span {
        font-size: 1.5rem;
        color: #fff;
    }

    .bat-content a img {
        margin-top: 3px;
    }
}

/* 首頁第一區塊 */
.homepage-block1 {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5% 0;
}

.hb1-img {
    width: 90%;
}

.hb1-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-bottom: 2rem;
}

.hb1-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hb1i-title h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.hb1i-p {
    width: 100%;
    margin: 5% 0;
}

.hb1i-p p {
    font-size: 1rem;
    line-height: 200%;
    margin-bottom: 2rem;
}

.hb1i-buttom {
    margin: 1rem 0;
}

.hb1i-buttom a {
    color: #404E64;
    font-size: 1rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border: 1px solid #404E64;
    border-radius: 40px;
    transition: 0.3s;
}
.hb1i-buttom a:hover{
    color: #fff;
    background-color: #404E64;
    transition: 0.3s;
}

@media (width>=768px) {
    .homepage-block1 {
        flex-direction: row;
    }

    .hb1-img {
        width: 50%;
        margin: 0;
    }

    .hb1-img img {
        height: 400px;
        border-radius: 0 15px 15px 0;
    }

    .hb1-text {
        width: 50%;
        margin: 0 5%;
        align-items: start;
    }

    .hb1i-p p {
        margin: 0;
    }

    .hb1i-buttom {
        align-self: end;
        margin: 1rem 0;
    }
}

/* 首頁第二區塊 */
.homepage-block2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* vertical-align: top; */
}
.hb2-img{
    width: 100%;
    height: 600px;
}
.hb2-mask{
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(64,78,100,1) 70%);
    position: absolute;
    z-index: 3;
}
@media (width>=768px) {
    .hb2-mask{
        background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(64,78,100,1) 60%);
    }
}
.hb2-img img{
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    object-position: right;
}
.hb2-content-board{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 100;
}
.hb2-items{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.hb2c-title{
    color: #fff;
    font-size: 8vw;
    margin: 30px;
}
.hb2c-buttom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hb2c-buttom a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    width: 80%;
    background-color: rgba(255,255,255,0.3) ;
    border-radius: 100px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}
.hb2c-buttom a span{
    font-size: 3vw;
}
.hb2c-buttom a h2{
    font-size: 4vw;
}
@media (width>=768px) {
    .hb2-items{
        justify-content: flex-start;
    }
    .hb2c-title{
        font-size: 3rem;
        margin: 60px;
    }
    .hb2c-buttom{
        align-items: flex-start;
    }
    .hb2c-buttom a{
        width: 400px;
        padding: 2rem;
        margin: 2rem;
    }
    .hb2c-buttom a span{
        font-size: 1rem;
    }
    .hb2c-buttom a h2{
        font-size: 1.5rem;
    }
}

/* 首頁/第三區塊 */
.homepage-block3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hb3-img{
    width: 100%;
    height: 500px;
}
.hb3-mask{
    width: 100%;
    height: 500px;
    background:rgba(64,78,100,0.5);
    position: absolute;
    z-index: 3;
}
.hb3-img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 2;
}
.hb3-push{
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-around;
}
.hb3-push a{
    width: 80%;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.hb3-push a h2{
    font-size: 5.5vw;
}
.hb3-push a span{
    font-size: 4vw;
}
.hb3-push a img{
    width: 4%;
    height: 25%;
    margin: 1rem;
}
@media (width>=768px) {
    .hb3-push a{
        width: 624px;
        justify-content: flex-start;
    }
    .hb3-push a h2{
        font-size: 3rem;
    }
    .hb3-push a span{
        font-size: 1.5rem;
    }
    .hb3-push a img{
        width: 15px;
        height: 30px;
        margin: 2rem;
    }
}

/* 首頁/消息區塊 */
.homepage-newswrap{
    width: 100%;
}
.hnw-content{
    width: 90%;
    margin: 0 auto;
}
.hnw-title{
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    margin:2rem 0 1rem 0;
}
.hnw-title h2{
    font-size: 6vw;
    margin-left: 2rem;
}
.hnw-title span{
    font-size: 4vw;
}
.hnw-article{
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 30px;
}
.hnw-up{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hnw-article ul  {
    width: 90%;
    margin: 2rem;
}
.hnw-article ul li{
    height: 100px;
    margin-top: 1rem;
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.hnw-article ul li a{
    text-decoration: none;
    color: #000;
    font-size: 3vw;
    line-height: 150%;
    padding: 1rem;
}
.hnw-article ul li a h3{
    display: inline-block;
    font-size: 4vw;
}
.hnw-spotlight{
    width:90%;
}
.hnw-spotlight img{
    width: 100%;
    height: 350px;    
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}
.hnw-more{
    width: 100%;
    display: flex;
    justify-content: center;
}
.hnw-more a{
    text-decoration: none;
    color: #000;
    font-size: 4vw;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.hnw-more a span{
    margin-right: 10px;
}

@media (width>=768px) {
    .hnw-title h2{
        font-size: 2.5rem;
        margin-left: 2rem;
    }
    .hnw-title span{
        font-size: 1.5rem;
    }
    .hnw-up{
        flex-direction: row;
    }
    .hnw-article ul{
        width: 50%;
    }
    .hnw-article ul li a{
        font-size: 1rem;
    }
    .hnw-article ul li a h3{
        font-size: 1.3rem;
    }
    .hnw-spotlight{
        width:50%;
        margin: 2rem;
        margin-left: 0;
    }
    .hnw-more a{
        font-size: 1.5rem;
    }
}

/* 關於/第一區塊 */
.about-introduce{
    width: 100%;
    margin: auto;
    background-color: #fff;
}
.ai-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.ai-text{
    text-align: center;
    font-size: 3.5vw;
    line-height: 200%;
}
.ai-text h2{
    font-size: 6vw;
    margin: 3vw;
}
@media (width>=768px){
    .ai-text{
        font-size: 1rem;
    }
    .ai-text h2{
        font-size: 2rem;
        margin: 2rem;
    }
}
.ai-img{
    width: 210px;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;
    margin-bottom: 2rem;
}
.ai-img img{
    width: 90%;
    object-fit: fill;
}
@media (width>=768px) {
    .ai-items{
        flex-direction: row;
    }
    .ai-img{
        width: 310px;
        order: 1; 
        margin: 0;
    }
}

/* 關於/第二區塊 */
.about-location{
    width: 100%;
    background-color: #f0f0f0;
}
.about-location h2{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0;
}
.al-content{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:3rem ;
}
.al-content iframe{
    width: 100%;
    order: 1;
    display: inline-block;
}
.al-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.al-text .info{
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    margin-bottom: 2rem;
}
.al-text .info h3{
    font-size: 1.5rem;
    margin: .5rem 0;
}
.al-text a{
    display: block;
    bottom: 5px;
    text-decoration: none;
    color: #404E64;
    border: 1px solid #404E64;
    border-radius: 20PX;
    padding: 10px 20px;
    margin: 1rem;
}
@media (width>=768px) {
    .al-content{
        width: 83.333333%;
        flex-direction: row;
        padding-bottom:3rem ;
    }
    .al-content iframe{
        width: 400px;
        order: -1;
    }
    .al-text{
        width: 392px;
        height: 300px;
        padding-left: 2rem;
        align-items: start;
    }
    .al-text .info{
        font-size: 1rem;
        line-height: 150%;
        text-align: left;
    }
    .al-text a{
        display: inline;
        position: relative;
        margin-left: 1rem;
    }
}
.al-text a:hover{
    background-color: #404E64;
    color: #fff;
}

/* 最新消息/篩選列*/
.news-filter{ 
    position: relative;
    z-index: 999;
    width: 90%;
    height: 75px;
    margin: auto;
}
.nf-items{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.nf-buttom{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
#art-filter{
    width: 100%;
    background-color: #404E64;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}
#filter-switch:checked~ #art-filter{
    border-radius: 10px 10px 0 0;
}
.af-ul {
    display: none;
    width: 100%;
    background-color: rgba(64, 78, 100, 0.8);
    border-radius: 0 0 10px 10px;
    font-size: 1rem;
}
.af-ul li{
    width: 100%;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.af-ul li p{
    color: #fff;
    padding-right: .5rem;
}

#filter-switch:checked~ .af-ul{
    display: block;
}
#filter-switch{
    display: none;
}

#date-filter{
    width: 100%;
    background-color: #404E64;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}
#date-switch:checked~ #date-filter{
    border-radius: 10px 10px 0 0;
}
.df-btn{
    display: none;
    width:100%;
    text-align: center;
    background: rgba(64, 78, 100, 0.8);
    border-radius: 0 0 10px 10px;
    padding-bottom: 1rem;
}
.df-btn input {
    width: 90%;
    font-size: 1rem;
    color: #404E64;
    background-color: #fff;
    border: none;
    margin-top: .8rem;
}
#date-switch:checked~ .df-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#date-switch {
    display: none;
}

/* 最新消息/消息清單 */
.news-list{
    width: 90%;
    margin: auto;
}
.news-list li{
    margin-bottom: 2rem;
    background-color: #f0f0f0;
    border-radius: 15px;
}
.news-block{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.nb-img{
    width: 90%;
}
.nb-img img{
    width: 100%;
}
.ns-text{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 1rem;
}
.ns-text a{
    width: fit-content;
    text-decoration: none;
    color: #000;
}
.ns-tag{
    font-size: 1rem;
    padding: 0.3rem;
    border-bottom: 2px solid #000;
}
.ns-text a h3{
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* 最新消息/數字列 */
.ns-numrow{
    margin: 2rem 0;
}
.ns-numrow ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ns-numrow ul li:nth-child(3){
    background-color: #f0f0f0;
}
.ns-numrow ul li a{
    width: 4vw;
    height: 4vw;
    text-decoration: none;
    color: #000;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem; 
}
.ns-numrow ul li a img{
    width: 60%;
}
@media (width>=768px) {
    .nf-items{
        justify-content: flex-start;
    }
    .nf-buttom{
        width: 12%;
    }
    .news-block{
        flex-direction: row;
        padding: 1rem 0;
    }
    .nb-img{
        width: 30%;
    }
    .ns-text{
        width: 70%;
        margin: 0 1rem;
    }
    .ns-text a{
        width: fit-content;
    }
    .ns-numrow ul li a{
        width: 1.5rem;
        height: 1.5rem;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5rem; 
    }
}

/* 消息內頁/回列表 */
.np-backtolist{
    width: 85%;
    margin: 2rem auto 1rem auto;
}
.np-backtolist a{
    width: fit-content;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}
.np-backtolist a img{
    height: 1.5rem;
    margin-right: .5rem;
}
/* 消息內頁/內文區塊 */
.newspage-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.newspage-article{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.npa-img{
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}
.npa-img img{
    width: 100%;
}
.npa-text {
    font-size: 1rem;
    padding: 0 2rem;
    line-height: 150%;
    margin-bottom: 2rem;
}
.npa-text h1{
    font-size: 2rem;
    line-height: 150%;
}
#tag{
    text-decoration: none;
    color: #000;
}
/* 消息內頁/側邊欄 */
.aside{
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 15px;
}
@media (width>=768px) {
    .newspage-content{
        flex-direction: row;
    }
    .newspage-article{
        width: 70%;
    }
    .aside{
        width: 30%;
    }
}
.aside h3{
    font-size: 2rem;
    text-align: center;
    margin: 2rem 1rem;
}
.aside ul li{
    width: 90%;
    margin: auto;
}
.aside ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    margin: 1rem 0;
}
.npsbarc-img img{
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid #404E64;
}
.npsbarc-span{
    padding: 1rem 0;
    line-height: 150%;
}

/* 消息內頁/下一則 */
.np-nextarticle{
    width: 100%;
    margin: 2rem 0;
}
.np-nextarticle a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}
.np-nextarticle a img{
    height: 1.5rem;
    margin-left: .5rem;
}

/* 空間預覽/燈箱 */
#preview-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999999;
}
.pic-lightbox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-view{
    width: 500px;
    height: 500px;
    margin: auto;
}
.item{
    width: 100%;
}
.item img{
    width: 100%;
    height: 500px;
}


/* 空間預覽/區塊 */
.spaceinfo-block1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spaceinfo-block2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404E64;
}
#person-plan{
    font-size: 2rem;
    padding-top: 3rem;
}
#group-plan{
    font-size: 2rem;
    padding-top: 3rem;
    color: #fff;
}
.sib-content{
    display: flex;
    flex-direction: column;
}
@media (width>=768px) {
    .sib-content{
        flex-direction: row;
    }
}
.sibc-box{
    margin: 2rem;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
}
.sibc-box a{
    width: 23.958%;
    height: 260px;
    margin-bottom: 1rem;
}
.sibc-box a img{
    width: 100%;
}
.sibc-box h3{
    font-size: 1.5rem;
    margin: 1rem;
}
.sib-btn-row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem 0;
}

.sib-btn-row a{
    width: 170px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    background-color: #fff;
    border:1px solid #000;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin:1rem;
}
@media (width>=768px) {
    .sib-btn-row{
        width: 100%;
        flex-direction: row;
    }
    .sib-btn-row a{
        margin: 0 1rem;
    }
}
.empty-space{
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
}

/* 服務內容/第一區塊*/
.serviceinfo-block1{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.serviceinfo-block1 h2{
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}
.serib1c-grid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3,500px);
}
.serib1c-gridbox{
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.serib1c-gridbox:first-child{
    grid-column:1;
    grid-row: 1;
}
.serib1c-gridbox:nth-child(2){
    grid-column: 1;
    grid-row: 2;
}
.serib1c-gridbox:last-child{
    grid-column: 1;
    grid-row: 3;
}
.serib1c-gridbox img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 1;
}
#serib1c-gb-imgstr{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
@media (width>=768px) {
    .serib1c-grid{
        height: 830px;
        grid-template-columns: repeat(3,33.333333%);
        grid-template-rows: repeat(2,400px);
    }
    .serib1c-gridbox:first-child{
        grid-row: 1;
        grid-column: 1/3;
    }
    .serib1c-gridbox:nth-child(2){
        grid-column: 3;
        grid-row: -3/-1;
    }
    .serib1c-gridbox:last-child{
        grid-column: 1/3;
        grid-row:2;
    }
    .serib1c-gridbox img{
        height: 400px;
    }
    #serib1c-gb-imgstr{
        height: 810px;
    }
}
.serib1c-gb-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.gb-text-plan{
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    margin:1.5rem;
    line-height: 150%;
}
.gb-text-intro{
    width: 100%;
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
    padding: 0 1rem;
}
.gb-text-reserve{
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.gb-text-reserve h3{
    color: #fff;
    font-size: 7vw;
    padding-bottom: 2rem;
}
.gb-text-reserve a{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: .5rem 1rem;
}
/*  */
.serib1c-gb-textstr{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.gb-textstr-intro {
    width: 90%;
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}
.gb-textstr-reserve{
    text-align: center;
    margin: 2rem;
}
.gb-textstr-reserve h3{
    color: #fff;
    font-size: 8vw;
    padding-bottom: 2rem;
}
.gb-textstr-reserve a{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: .5rem 1rem;
}

@media (width>=768px) {
    .serib1c-gb-text{
        justify-content: space-between;
    }
    .gb-text-intro{
        width: 50%;
        align-self: flex-end;
        font-size: 1rem;
        padding: 1rem 1rem 3rem 1rem;
    }
    .gb-text-reserve{
        width: 30%;
        align-self: flex-end;
        padding: 3rem 1rem;
    }
    .gb-text-reserve h3{
        font-size: 2rem;
    }
    /*  */
    .gb-textstr-intro {
        width: 90%;
        font-size: 1rem;
        text-align: center;
        line-height: 150%;
        color: #fff;
        margin: 2rem;
    }
    .gb-textstr-reserve{
        margin: 0;
        order: -1;
    }
    .gb-textstr-reserve h3{
        font-size: 2rem;
    }
}

/* 服務內容/第二區塊 */
.serviceinfo-block2{
    width: 100%;
    background-color: #404E64;
}
.serviceinfo-block2 h2{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}
.serib2-grid{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(6,300px);
}
@media (width>=600px) {
    .serib2-grid{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(3,300px);
    }
}
@media (width>=768px) {
    .serib2-grid{
        grid-template-columns: repeat(3,33.333333%);
        grid-template-rows: repeat(2,300px);
    }
    .serib2-gridbox{
        margin: 1rem;
    }
}
.serib2-gridbox{
    background-color: #f0f0f0;
    color: #404E64;
    border-radius: 15px;
    margin: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.serib2-gb-icon i{
    font-size: 3rem;
}
.serib2-gb-text{
    text-align: center;
    font-size: 1rem;
    line-height: 150%;
    margin: 1rem;
}
.serib2-gb-text h3{
    font-size: 1.5rem;
    margin: .3rem;
}
/* 服務內容/區塊三 */
.serviceinfo-block3{
    width: 100%;
}
.serviceinfo-block3 h2{
    text-align: center;
    font-size: 8vw;
    padding: 2rem;
}
.serviceinfo-block3 ol{
    text-align: center;
    font-size: 3.5vw;
    line-height: 200%;
    padding: 0 1rem;
    margin-bottom: 2rem;
}
@media (width>=768px) {
    .serviceinfo-block3 h2{
        font-size: 2rem;
    }
    .serviceinfo-block3 ol{
        font-size: 1rem;
    }
}

/* 洽詢與預約/第一區塊 */
.bookingpage-block1{
    width: 100%;
}
.bookingpage-block1 h2{
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}
.bib1-dailyrent{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.daily-plan{
    text-align: center;
    font-size: 2rem;
    line-height: 150%;
    margin-bottom: 2rem;
}
.daily-plan span{
    font-size: 1.5rem;
}
.daily-plan-btn{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}
.daily-plan-btn button{
    width: 100%;
    height: 80px;
    font-size: 1rem;
    color: #000;
    border: 1px solid #000;
    border-radius: 42px;
    background-color: #fff;
    margin-bottom: 1rem;
}
.daily-plan-btn button:hover{
    color: #fff;
    background-color: #404E64;
    transition: 0.3s;
    cursor: pointer;
}
.daily-plan-btn button h3{
    font-size: 1.5rem;
}
@media (width>=768px) {
    .bib1-dailyrent{
        width: 80%;
        flex-direction: row;
    }
    .daily-plan{
        text-align: center;
        font-size: 2rem;
        line-height: 150%;
    }
    .daily-plan-btn{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
    }
}

/* 洽詢與預約/第二區塊 */
.bookingpage-block2{
    width: 100%;
    background-color: #404E64;
    padding-bottom: 2rem;
}
.bib2-process{
    width: 90%;
    margin: auto;
}
.bib2-process h2{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}
.bib2p-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(4,300px);
    margin-bottom: 1rem;
}
@media (width>=500px) {
    .bib2p-row{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,300px);
        margin-bottom: 1rem;
    }
}
@media (width>=900px) {
    .bib2p-row{
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(1,300px);
        margin-bottom: 1rem;
    }
}
.bib2p-row .row-card{
    background-color: #f0f0f0;
    color: #404E64;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 150%;
    margin: 1rem;
}
.bib2p-row .row-card i{
    font-size: 2rem;
}
.bib2p-row .row-card h3{
    font-size: 1.5rem;
    text-align: center;
    line-height: 150%;
    margin: 1rem;
}
.bib2p-row .row-card ol {
    list-style-type: decimal;
}
/*  */
.bib2-menu{
    width: 90%;
    background-color: #fff;
    border-radius: 15px;
    margin: auto;
    padding: 1rem 0;
}
.bib2m-row{
    width: 97%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(6,200px);
    margin-bottom: 1rem;
}
@media (width>=500px) {
    .bib2m-row{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(3,200px);
    }
}
@media (width>=900px) {
    .bib2m-row{
        grid-template-columns: repeat(3,33.3333333%);
        grid-template-rows: repeat(2,200px);
    }
}
.mrow-card{
    background-color: #f0f0f0;
    border-radius: 15px;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.mrow-card i{
    font-size: 2rem;
}
.mrow-card h3{
    font-size: 1.5rem;
    margin: 1rem;
}
.bib2-menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.bib2-menu-btn h3{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}
.bib2-menu-btn button{
    width: 80%;
    max-width: 200px;
    margin: auto;
    height: 40px;
    background-color: #404E64;
    color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 1rem;
}
.bib2-menu-btn button:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* 洽詢與預約/第三區塊 */
.bookingpage-block3{
    width: 100%;
    background: #fff;
}
.bookingpage-block3 h2{
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}
.bib3c-context{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.bib3c-connect{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bib3c-con-info{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom:2rem;
}
.bib3c-con-info i{
    margin: 1rem;
}
.bib3c-con-info a{
    font-size: 1rem;
    color: #000;
}

.bib3c-form{
    width: 100%;
    text-align: center;
}
.bib3c-con-info span{
    font-size: 1rem;
}
.bib3c-form input{
    width: 70%;
    height: 30px;
    font-size: 1rem;
    background-color: #f0f0f0;
    border: none;
    margin: .5rem;
}
.bib3c-form input::placeholder{
    font-size: 1rem;
}
#cmail-content{
    width: 70%;
    height: 150px;
    background-color: #f0f0f0;
    border: none;
    margin: .5rem;
    resize: none
}
#c-sumit{
    display: block;
    margin: 1rem auto;
    width: 150px;
    height: 40px;
    background-color: #404E64;
    border-radius: 15px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}
@media (width>=768px) {
    .bib3c-context{
        flex-direction: row;
    }
    .bib3c-form{
        width: 50%;
        text-align: start;
    }
    #c-sumit{
        margin: .5rem;
    }
}

/* 共用頁尾 */
footer{
    max-width: 1920px;
    width: 100%;
    background-color: #404E64;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer nav{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer nav a{
    text-decoration: none;
    font-size: 1rem;
    margin:1rem;
    color: #fff;
}
.nav-border{
    width: 60%;
    padding: 1px;
    margin-top: 1rem;
    background-color: #fff;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fc-logo{
    margin: 1rem;
}
.fc-logo a img{
    width: 95%;
}
.fc-inforow{
    margin: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: -1;
}
.fc-inforow h3{
    font-size: 2.5rem;
    margin-left: .8rem;
}
.fc-snsicon{
    margin: .8rem;
}
.fc-snsicon a i{
    color: #fff;
    font-size: 2.5rem;
    margin-right: .5rem;
}
.fc-inforow span{
    font-size: 1rem;
    margin:.5rem 1rem;
}
.copyright{
    width: 100%;
    color: #fff;
    font-size: 3vw;
    line-height: 150%;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    text-align: center;
}
@media (width>=768px) {
    footer nav{
        margin: 2rem 0;
        flex-direction: row;
        justify-content: center;
    }
    footer nav a{
        margin:0 1.5rem;
    }
    .nav-border{
        display: none;
    }
    .footer-contact{
        margin: 1rem;
        flex-direction: row;
    }
    .fc-inforow{
        margin: 0;
        align-items: flex-start;
        order: 1;
    }
    .fc-border{
        width: 100%;
        padding: 2px;
        margin: 1rem 0;
        background-color: #fff;
    }
    .copyright{
        font-size: 1rem;
    }
}
