<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>標題</title>
    <link rel="icon" href="pic/其他/LOGO B 修改2.ico">
    <link rel="stylesheet" href="../css/FC-RWD.css">
    <link rel="stylesheet" href="../css/FC-CSSReset.css">
    <script src="https://kit.fontawesome.com/d7194ab2e4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Onest:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body{
            font-family: 'Noto Sans TC', sans-serif;
            font-family: 'Onest', sans-serif;
        }
    </style>
</head>

<body>

<footer>
    <nav>
        <a href="about.html">關於Flex Collab</a>
        <a href="news.html">最新消息</a>
        <a href="space_info.html">空間方案</a>
        <a href="service_info.html">服務內容</a>
        <a href="bookingpage.html">洽詢/預約</a>
        <div class="nav-border"></div>
    </nav>
    <div class="footer-contact">
        <div class="fc-logo">
            <a href="index.html">
                <img src="../pic/footer/LOGOgray.png" alt="Footer的logo">
            </a>
        </div>
        <div class="fc-inforow">
            <h3>Contact</h3>
            <div class="fc-snsicon">
                <a href=""><i class="fa-brands fa-instagram" ></i></a>
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            </div>
            <span>TEL：(02)-1234-5678<br></span>
            <span>EMAIL：flexcollab@gmail.com<br></span>
            <span>104台北市中山區南京東路三段219號5樓</span>
            <div class="fc-border"></div>
        </div>
        
    </div>
    <div class="copyright">
        <span>本網站為緯育TibaMe前端班 CDH104 學員專題作品，<br>本平台僅供學習、展示之用。</span>
    </div>
</footer>

</body>
</html>