<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="FC.css">
    <link rel="stylesheet" href="FC-CSSReset.css">
    <script src="https://kit.fontawesome.com/d7194ab2e4.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    
    <div class="footer">
        <div class="footer-items">
            <div class="footer-nav">
                <div class="fn-select">
                    <a href="about.html">關於Flex Collab</a>
                    <a href="news.html">最新消息</a>
                    <a href="space_info.html">空間方案</a>
                    <a href="service_info.html">服務內容</a>
                    <a href="bookingpage.html">洽詢/預約</a>
                </div>
            </div>
            <div class="footer-contact">
                <div class="fc-logo">
                     <a href="index.html">
                         <img src="pic/footer/LOGOgray.png" alt="Footer的logo">
                     </a>
                </div>
                <div class="fc-inforow">
                    <div class="fc-info">
                        <div class="fc-title">
                            <span>Contact</span>
                        </div>
                        <div class="fc-snsicon">
                            <a href=""><i class="fa-brands fa-instagram" ></i></a>
                            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        </div>
                        <div class="fc-text">
                            <span>TEL：(02)-1234-5678<br></span>
                        </div>
                        <div class="fc-text">
                            <span>EMAIL：flexcollab@gmail.com<br></span>
                        </div>
                        <div class="fc-text">
                            <span>104台北市中山區南京東路三段219號5樓</span>
                        </div>
                        <div class="fc-border"></div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>本網站為緯育TibaMe前端班 CDH104 學員專題作品，本平台僅供學習、展示之用。</span>
            </div>
        </div>
     </div>

 </div>

</body>
</html>