<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="FC.css">
    <link rel="stylesheet" href="FC-CSSReset.css">
</head>
<body>
<div class="container">

    <div class="header">
        <div class="header-items">
          <div class="header-image">
              <a href="index.html">
                  <img src="pic/header/logowithtext.png" width="270px" >
              </a>
          </div>
          <div class="nav">
              <div class="nav-select">
                  <a href="about.html">關於Flex Collab</a>
                  <a href="news.html">最新消息</a>
                  <a href="space_info.html">空間方案</a>
                  <a href="service_info.html">服務內容</a>
              </div>
              <div class="nav-buttom">
                  <a href="bookingpage.html">洽詢/預約</a>
              </div>
          </div>
        </div>
    </div>
    
</div>

</body>
</html>